@charset "utf-8";
/* CSS Document */

.kutucuk{
	
	width:500; 
	height:30px; 
	background-color:#e2e2e2; 
	border:3px solid #65558d ;
    font:bold 14px tahoma;
	 
} 
.kutucuk:hover {
	Border:1px solid #000000;
}

.buton{
	
	width:80px; 
	height:30px; 
	background-color:#e2e2e2; 
	border:3px solid #65558d ;
font:bold 14px tahoma;
}
.buton:hover {
	Border:1px solid #000000;
}

